@font-face {
  font-family: 'iconfont';
  src: url('//at.alicdn.com/t/font_1469775229_6277668.eot'); /* IE9*/
  src: url('//at.alicdn.com/t/font_1469775229_6277668.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('//at.alicdn.com/t/font_1469775229_6277668.woff') format('woff'), /* chrome、firefox */
  url('//at.alicdn.com/t/font_1469775229_6277668.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url('//at.alicdn.com/t/font_1469775229_6277668.svg#iconfont') format('svg'); /* iOS 4.1- */
}


//熊猫书院2.0
@font-face {
  font-family: 'iconfont2';
  src: url('//at.alicdn.com/t/font_1470017941_6448867.eot'); /* IE9*/
  src: url('//at.alicdn.com/t/font_1470017941_6448867.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('//at.alicdn.com/t/font_1470017941_6448867.woff') format('woff'), /* chrome、firefox */
  url('//at.alicdn.com/t/font_1470017941_6448867.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url('//at.alicdn.com/t/font_1470017941_6448867.svg#iconfont') format('svg'); /* iOS 4.1- */
}

// 熊猫书院3.0
@font-face {
  font-family: 'iconfont3';  /* project id："171830" */
  src: url('//at.alicdn.com/t/font_wcmtv68l3vtxzuxr.eot');
  src: url('//at.alicdn.com/t/font_wcmtv68l3vtxzuxr.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_wcmtv68l3vtxzuxr.woff') format('woff'),
  url('//at.alicdn.com/t/font_wcmtv68l3vtxzuxr.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_wcmtv68l3vtxzuxr.svg#iconfont3') format('svg');
}

@font-face {
  font-family: 'iconfont4';  /* project id："171830" */
  src: url('//at.alicdn.com/t/font_3yq5besc9c545cdi.eot');
  src: url('//at.alicdn.com/t/font_3yq5besc9c545cdi.eot') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_3yq5besc9c545cdi.woff') format('woff'),
  url('//at.alicdn.com/t/font_3yq5besc9c545cdi.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_3yq5besc9c545cdi.svg#forchange') format('svg');
}

i.icon {
	font-family: 'iconfont3' !important;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}


i.icon-1 {
	font-family: 'iconfont' !important;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}


.iconfont {
  font-family: 'iconfont';
  font-size: 18px;
  -webkit-font-smoothing: antialiased;
  font-weight: normal;
  font-style: normal;
}

.iconfont2 {
  font-family: 'iconfont2';
  font-size: 18px;
  -webkit-font-smoothing: antialiased;
  font-weight: normal;
  font-style: normal;
}

.iconfont3 {
  font-family: 'iconfont3';
  font-size: 18px;
  -webkit-font-smoothing: antialiased;
  font-weight: normal;
  font-style: normal;
}

.icon3 {
  display: inline-block;
  width: 1em; height: 1em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}

.icon-cancel::before {
  content: "\e649";
}

.icon-right-arrow::before {
  content: "\e601";
}

.icon-panda::before {
  content: "\e60a";
}