<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="screen-orientation" content="portrait">
    <title>熊猫书院</title>
    <link rel="stylesheet" href="../../css/login/qrcode.css?rev=@@hash">
</head>
<body>
<article id="qrbox">
    <img :src="qrcodeimg" />
    <section id="qrbox-content">
        <h3>请长按识别二维码关注「熊猫书院」</h3>
        <h3>完成入学报道</h3><br/>
       <h5>如果无法长按识别,请将图片保存到手机相册,然后打开扫一扫 → 选择相册 → 二维码相册</h5>
    </section>
</article>

<script>
    var $data = <?php echo json_encode($data);?>;
    console.log($data);
</script>

<!-- build:js -->
<script src="../../mock/login/qrcode.js"></script>
<!-- endbuild -->
<script src="../../js/lib/vue.min.js"></script>
<script src="../../js/login/qrcode.js"></script>
<div style="display: none">
    <script src="https://s95.cnzz.com/z_stat.php?id=1258723222&web_id=1258723222" language="JavaScript"></script>
</div>
</body>
</html>
